body {
  user-select: none;
  background-color: #f8f9fa; /* Light gray background */
  color: #343a40; /* Dark gray text */
}
@media (max-width: 576px) {
  .col-text {
    margin-top: 20px !important;
    text-align: center;
  }
  .col-text h2 {
    font-size: 30px;
  }
  .filter-btn.d-flex {
    display: block !important;
  }
  .filter-btn .btn {
    margin: 10px !important;
  }
  .product-image {
    width: 200px !important;
    height: 250px !important;
    margin-bottom: 20px;
  }
  .btn-cart {
    width: 200px;
    margin-top: 10px;
  }
  .cart-num {
    top: -8px !important;
    left: 185px !important;
  }
  .row-checkout {
    flex-direction: column-reverse !important;
  }
}

.btn-cart {
  position: relative;
}
.cart-num {
  position: absolute;
  top: -12px;
  left: 64px;
  content: "";
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
}
.swal2-popup {
  width: 70vh !important;
  height: 50vh !important;
}
.swal2-confirm {
  background-color: #fff !important;
  color: #000 !important;
}

/* Button Styles */
.btn-primary {
  background-color: #007bff; /* Blue */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d; /* Gray */
  border-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

/* Navbar Styles */
.bg-body-tertiary {
  background-color: #e9ecef !important; /* Light gray navbar */
}

/* Link Styles */
a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
